:root {
    --border-color:#551A8B;
    --cor-principal: #551A8B;
    font-family:  'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.textos-cabecalho {
  background-color: var(--cor-principal);
  padding: 3em;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.container-textos, .container-textos2 {
  text-align: center;
  color: white;
}

.container-textos {
  font-size: 2em;
}

.links-cabecalho:hover {
  background-color: white;
  padding: 1em;
  transition: .6s;
  color: black;
}

.container-textos2 {
  text-align: end;
}

.container-links {
  display: flex;
  justify-content: space-around;
  
}

h1, h2 {
  text-align: center;
}

.links-cabecalho {
  color: white;
  text-decoration: none;
  margin-top: 1em;
}


.alinhamento {
  display: flex;
}

nav {
  width: 100%;
  height: 50px;
}

.alinhamento nav.desktop ul {
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  list-style-type: none;
  padding: 0 2%; 
}

.alinhamento nav.desktop ul li {
  display: flex; 
  list-style-type: none; 
}

.alinhamento nav.desktop li a {
  gap: 4rem; 
  text-decoration: none;
  color: var(--border-color);
}

.alinhamento nav.desktop a:hover {
  color: rgb #551A8B;; 
}

.borda {
    border-width: 5px; 
    border-style: double; 
    border-color: var(--border-color);
}

td {
    font-size: 20px;
    vertical-align: top; 
}
th {
    font-size: 30px;
}
th, td {
    border-collapse: collapse;
    padding: 10px; 
}
.imgs {
    display: flex;
    justify-content: space-around; 
    margin-top: 20px;
}

.imgfuncionario{
    padding: 10px;
    height: 350px;
    width: 390px;
}

.imgestoque{
    padding: 10px;
    height: 350px;
    width: 390px;
    margin-left: 90px;
}

.imgvinheria{
    padding: 10px;
    margin-left: 90px;
}

#footer {
    text-align: center;
    font-size: small; 
    background-color: #b9a9a998;
    height: 160px;
  }

  .fonte{
    font-family: 'Open Sans';
    font-size: 20px;
  }
  
 

  article {
    padding: 0px 300px 50px 300px;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}