@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #7D26CD;
    --cor-header: #551A8B;
  }

  * {
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
    }
    
  #header {
    background-color: var(--cor-header);
    color: white;
    font-family: var(--fonte-principal);
    padding: 20px;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

  :root {
    --cor-principal: #7D26CD;
    --cor-header: #551A8B;
    --fonte-principal: "Poppins", sans-serif;
  }
  
  .links-cabecalho {
    text-decoration: none;
    color: white;
  }
  
  .links-cabecalho:hover {
    background-color: white;
    padding: 1em;
    transition: .6s;
    color: black;
  }
  
  .container-links {
    display: flex;
    justify-content: space-around;
    padding: 2em;
  }
  
  .textos-cabecalho {
    display: flex;
    background-color: var(--cor-header);
    font-family: var(--fonte-principal);
    flex-direction: column;
  
  }
  
  .textos {
    color: white;
    padding-top: 1em;
    font-family: var(--fonte-principal);
  }
  
  .container-textos {
    text-align: center;
    font-size: 2em;
  }
  
  .container-textos2 {
    text-align: end;
  }
  .formulario {
    border: 2px solid black;
    background-image: linear-gradient(to top,rgba(100, 0, 150, 0.5) , white );
  }
  .titulo {
    font-size: 2em;
  }
  #carrinho {
    text-align: center;
    
  }
  #pagamento {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    border: 2px solid rgb(110, 15, 140);
  }


  #footer {
    margin-top: 3em;
    text-align: center; 
    font-size: 16px; 
    background-color: #b9a9a998;
  }

  #nome {
    padding: 10px 20px;
    background-color: #b9a9a998;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
  }

  #nome:hover {
    background-color: #a89a9298;
    color: white;
  }

  #email {
    padding: 10px 20px;
    background-color: #b9a9a998;
    color: #fff;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    color: black;
  }

  #email:hover {
    background-color: #a89a9298;
    color: white;
  }

  #cep {
    padding: 10px 20px;
    background-color: #b9a9a998;
    color: #fff;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    color: black;
  }

  #cep:hover {
    background-color: #a89a9298;
    color: white;
  }

  #botao {
    padding: 10px 20px;
    background-color: #7D26CD;
    color: #fff;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
  }

  #botao:hover {
    background-color: #6A1C9A;
  }

  #opcao {
    padding: 10px 15px;
    background-color: #b9a9a998; 
    color: #000; 
    border: none;
    border-radius: 10px; 
    transition: background-color 0.3s ease;
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
